<div id="treks-list">
    <a href="#/details" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
      <div class="card-body">
        <p class="card-text">Everest Base Camp</p>
      </div>
      <img class="card-image"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Sofia_statue%2C_Sofia_%28P1070773%29.jpg/800px-Sofia_statue%2C_Sofia_%28P1070773%29.jpg"
        {{!-- src="https://s3.us-east-1.wasabisys.com/mts-wp-uploads/trips/trip_hero8_kha_2880x1260.jpg" --}}
        alt="Card image cap">
    </a>
    <a href="#/details" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
      <div class="card-body">
        <p class="card-text">Bhutan Chomolhari Trek</p>
      </div>
      <img class="card-image"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Sofia_statue%2C_Sofia_%28P1070773%29.jpg/800px-Sofia_statue%2C_Sofia_%28P1070773%29.jpg"
        alt="Card image cap">
    </a>
    <a href="#/details" class="card overflow-hidden treksPlaceholder trek-details" style="width: 18rem; height: 18rem;">
      <div class="card-body">
        <p class="card-text">Langtang and Gosainkund</p>
      </div>
      <img class="card-image"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Sofia_statue%2C_Sofia_%28P1070773%29.jpg/800px-Sofia_statue%2C_Sofia_%28P1070773%29.jpg"
        alt="Card image cap">
    </a>
  </div>