body{
    counter-reset: header1Counter;
    counter-reset: header3Counter;
}

.set-value-counter {
    counter-reset: p1000;
}

h3:before {
    counter-increment: header3Counter;
    content: counter(header3Counter) ". ";
}

h1:before {
    counter-increment: header1Counter;
    content: counter(header1Counter) ". ";
}

.set-value-counter>p:before {
    counter-increment: p1000;
    content: counter(p1000) "§ ";
    font-style: italic;
}

.list ol {
    counter-reset: orderedList;
    list-style-type: none;
}

li:before {
    counter-increment: orderedList;
    content:counters(orderedList, ".") " ";
}