body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
align-content: space-between;
align-self: center;
border: 0.5px solid #ebe5e5;
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    height: 300px;
    width: 80%;
    border: 0.5px solid silver;
}
.container div div{
    width: 220px;
    height: 220px;
    margin: 1rem;
}

.container div div:nth-child(1){
    background-color: yellow;
}

.container div div:nth-child(2){
    background-color: red;
}

.container div div:nth-child(3){
    background-color: purple;
}

.container div div:nth-child(4){
    background-color: blue;
}
.container div div:nth-child(5){
    background-color: green;
}